header{
	background:#F0CBB6;
	background-: 50%;
	height:10vh;
	padding:0.5%;
	padding-bottom: 2%;
	margin:1%;
	text-align: center;
}
button{
	width:12%;
	margin-left: 40%;
	
}
#main{
	background:#B59EF2;
}
